<ul id="navmenu">
  <li><a href="index.php">Home</a></li>

  <li><a href="aboutus.php">Corporate</a>
  	<ul>
    	<li><a href="robert.php">Founder</a></li>
        <li><a href="staff.php">Executive team</a></li>
  	    <li><a href="treners_01.php">Trainers</a></li>
  	    <li><a href="tasks.php">Mission statement</a></li>
  	    <li><a href="work.php">Principles of work</a></li>
        <li><a href="stories.php">Success stories</a></li>
  	</ul>
  </li>

  <li><a href="charity.php">Charity</a></li>

  <li><a href="company_news.php">News</a></li>

  <li><a href="mass_media.php">Mass Media</a></li>

  <li><a href="countries.php">GST Countries</a>
          <%=menu_countries%> <!-- menu_countries placed in the application_helper -->
  </li>

  <li><a href="fotos.php?cat=776">Photo gallery</a></li>

  <li><a href="#">Information</a>
  	<ul>
    <li><a href="faq.php">FAQ</a></li>
    <li><a href="https://siteheart.com/webconsultation/1686?byhref=1">On-line help</a></li>
    <li><a href="/forum/">Forum</a></li>
    <li><a href="tel.php">Contacts</a></li>
    </ul>
  </li>
</ul>
