
<%=tabs(:tab1=>:countries.l("Страны"))%>

<div id="content_right">
  <%= items_list(@countries, :attr_name => "name") %>
</div>

<div id="content_main">
  <%page=Page.find(:first, :conditions => {:controller_name => @countries.first.class.to_s.tableize})%>
<% unless page.nil? %>
<h3><%=h page.name%></h3>

<%= page.content %>

<%end%>
</div>



